<footer class="bg-primary text-white text-center py-3 mt-5">
    <div class="container mb-0">
      <div class="d-flex justify-content-between align-items-center mt-2 flex-column flex-md-row">
        <p class="mb-3 mb-md-0">© <%= new Date().getFullYear() %> - Projet Étudiant CRUD</p>
        <p class="mb-2">Réalisé en Node.js, Express & Bootstrap</p>
      </div>
    </div>
  </footer>
  
